<%= stylesheet_link_tag "application", :media => "all" %>
<div class="jumbotron">
    <h1>Conception Connection</h1>
    <p class="lead">Based on <a target="_blank"
        href="http://www.smbc-comics.com/index.php?db=comics&id=2922#comic"
        >SMBC 2922</a></p>
</div>
  <p>
  Enter your date of birth and this algorithm will tell you your approximate 
  date of conception, and the historical event most likely to have caused your 
  parents to be inspired that night.
  </p>

  <% if flash[:notice] %>
    <div id="notice" style="color:red"><%= flash[:notice] %></div>
  <% end %>

  <br />

<%= form_tag :action => 'create' do %>
    <%= select_date(Date.today, :start_year => Time.now.year, 
                    :end_year => Time.now.year - 100,
                    :order => [:year, :month, :day]) %>
  <%= submit_tag "Submit" %>
<% end %>

</form> 
